@import '../variables.css';

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    width: 0px; height: 0px;
    top: static; left: static; right: static; bottom: static;
    overflow: hidden;
    display: none;
    visibility: hidden;
  }
}

.loadingSplashLoaded {
  animation: fadeOut 1s 1;
  animation-fill-mode: forwards;
}
