
@import '../variables.css';

@keyframes card {
  from {
    opacity: 0;
    transform: translateX(-10px) scale(1.2);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.SummaryPage {
  .AllReviews {
    margin: 0; padding: 0;
    display: block;

    li {
      display: block;
      margin: 2px 0; padding: 16px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      font-size: 0.9em;

      p {
        margin: 0; padding: 0;
        line-height: 1.75;

        em {
          font-style: normal;

          &.neg {
            background: rgba(255, 100, 100, 0.6);
          }

          &.pos {
            background: rgba(100, 100, 255, 0.6);
          }
        }
      }
    }
  }

  .repReviews {
    margin: 0; padding: 0;
    display: block;

    li {
      display: block;
      margin: 10px 0; padding: 0;
      font-size: 0.8em;
      overflow: hidden;

      &.card {
        animation: card var(--animation-time);
      }
    }
  }

  .fixed {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
  }

  p.Review {
    color: #444;
    line-height: 1.5;
  }

  svg {
  	width: 100%;
  	height: 450px;

    g {
      transition: 0.25s;
      animation: pie 1s;
    }
  }

  path.slice {
  	stroke-width: 0px;
  }

  polyline {
  	opacity: .3;
  	stroke: black;
  	stroke-width: 2px;
  	fill: none;
  }

  @keyframes pie {
    from {
      transfrom: scale(0);
    }
    to {
      transfrom: scale(1);
    }
  }
}
