
@import '../variables.css';

@keyframes pie {
  from {
    transfrom: scale(0);
  }
  to {
    transfrom: scale(1);
  }
}

@keyframes card {
  from {
    opacity: 0;
    transform: translateX(-10px) scale(0.4);
  }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.SummaryPage {
  .AllReviews {
    margin: 0; padding: 0;
    display: block;

    li {
      display: block;
      margin: 2px 0; padding: 16px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      font-size: 0.8em;

      p {
        margin: 0; padding: 0;
        line-height: 1.5;

        em {
          font-style: normal;
          border-radius: 1px;
          padding: 2px 4px;
          font-size: 0.9em;
          color: #fff;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
          display: inline-block;
          line-height: 1.5;
          transition: var(--animation);
          z-index: 1;
          position: relative;

          &.neg {
            background: #B388FF;
          }

          &.pos {
            background: #00BFA5;
          }

          &:hover {
            transform: scale(1.25);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            z-index: 1000;
          }
        }
      }
    }
  }

  .repReviews {
    margin: 0; padding: 0;
    display: block;

    li {
      display: block;
      margin: 10px 0; padding: 0;
      font-size: 0.8em;
      overflow: hidden;

      &.card {
        animation: card var(--animation-time);
      }
    }
  }

  .fixed {
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    transition: var(--animation);
    z-index: 10000;

    & > div {
      & > div {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }

  p.Review {
    color: #444;
    line-height: 1.5;
  }

  svg {
  	width: 100%;
  	height: 450px;

    g {
      transition: 0.25s;
      animation: pie 1s;
    }
  }

  path.slice {
  	stroke-width: 0px;
  }

  polyline {
  	opacity: .3;
  	stroke: black;
  	stroke-width: 2px;
  	fill: none;
  }
}
