@import "../variables.css";

@keyframes searchCard {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.SearchPage {
  .animation {
    animation: searchCard var(--animation-time);
  }
}
